[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "smart-tab"]
	path = smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "scss-mode"]
	path = scss-mode
	url = git@github.com:antonj/scss-mode.git
[submodule "emacs-pug-mode"]
	path = emacs-pug-mode
	url = https://github.com/hlissner/emacs-pug-mode.git
